<!-- GitHub Buttons -->
<!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
<script async defer src="https://ss1.xrea.com/xin.g2.xrea.com/content/blog_style/buttons.js"></script>

<!-- jQuery CDN -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://ss1.xrea.com/xin.g2.xrea.com/content/blog_style/jquery.min.js"></script>

<!-- Popper.js CDN -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script> -->
<script src="https://ss1.xrea.com/xin.g2.xrea.com/content/blog_style/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
<script src="https://ss1.xrea.com/xin.g2.xrea.com/content/blog_style/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script> -->
<script src="https://ss1.xrea.com/xin.g2.xrea.com/content/blog_style/wow.js"></script>
<script> new WOW().init(); </script>

<!-- MathJax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Card Animation jQuery -->
<script src="{{ '/assets/js/card-animation.js' | relative_url }}"></script>

<!-- Initialize all tooltips -->
<script>
 $(function () {
     $('[data-toggle="tooltip"]').tooltip()
 })
</script>

<!-- pangu.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pangu/4.0.7/pangu.js"></script>
<script>
 document.addEventListener('DOMContentLoaded', () => {
     // listen to any DOM change and automatically perform spacing via MutationObserver()
     pangu.autoSpacingPage();
 });
</script>
