---
layout: page
---

<h1><b>{{ page.title }}</b></h1>
<meta name="description" content="{{ page.description }}">

<p class="article-metadata text-muted">
  {{ page.date | date_to_long_string }} -  
  <b>
    {% assign words = content | number_of_words %}
    {% if words < 360 %}
    less than 1 min read time
    {% else %}
    {{ words | divided_by:180 }} mins read time
    {% endif %}
  </b>

  <br>

  {% if page.tags != empty %}
  Tags: 
  {% for tag in page.tags %}
  <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/articles/tags#' | relative_url }}">
    <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
  </a>
  {% endfor %}
  {% endif %}

  <br>

  Author: <a href="https://xinii.github.io/about/">Xin Li</a>
  {% if page.language == 'zh' %}
  <link rel="stylesheet" href="https://ss1.xrea.com/xin.g2.xrea.com/content/blog-style/chinese-font.css">
  {% endif %}
</p>

{{ content }}

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
 /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
 /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
  */
 (function() { // DON'T EDIT BELOW THIS LINE
     var d = document, s = d.createElement('script');
     s.src = 'https://xinii.disqus.com/embed.js';
     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

<footer>
  This Article is <b>open source</b>. Noticed a typo? </br>
  Or something unclear? Improve it on {% github_edit_link "GitHub" %}.
</footer>
